{% macro tableHeader(grid, field, attributes) %}
    {% from _self import link %}
    {% set order = grid.getSortingOrder(field.name) %}

    {% if grid.isSortedBy(field.name) %}
        <th class="sortable sorted {{ order == 'desc' ? 'descending' : 'ascending' }} sylius-table-col-{{ field.name }}"
            style="width: {{field.name == "position" ? "120px" : "auto"}}"
        >
            <a class="text-decoration-none text-nowrap" href="{{ link(field.name, attributes, (order == 'desc' ? 'asc' : 'desc'), grid.parameters.all) }}">
                {{ field.label|trans }}
                <i class="fs-7 bi {{ order == 'desc' ? 'bi-chevron-up' : 'bi-chevron-down' }}"></i>
            </a>
        </th>
    {% else %}
        <th class="sortable sylius-table-col-{{ field.name }}"
            style="width: {{field.name == "position" ? "120px" : "auto"}}"
         >
            <a class="text-decoration-none text-nowrap" href="{{ link(field.name, attributes, order, grid.parameters.all) }}">
                <i class="bi-chevron-expand"></i>
                {{ field.label|trans }}
            </a>
        </th>
    {% endif %}
{% endmacro %}

{% macro link(fieldName, attributes, order, parameters) %}
    {% set params = attributes.get('_route_params')|merge(parameters) %}
    {% set sorting = {'sorting': {(fieldName): (order)}} %}

    {{ path(attributes.get('_route'), params|merge(sorting)|merge({'page': 1})) }}
{% endmacro %}
