{% import '@SyliusUxBootstrap/macro/pagination.html.twig' as pagination %}
{% import '@SyliusUxBootstrap/macro/buttons.html.twig' as buttons %}
{% import '@SyliusUxBootstrap/macro/table.html.twig' as table %}

{% set definition = grid.definition %}
{% set data = grid.data %}

{% set path = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set criteria = app.request.query.get('criteria') %}

{% if definition.enabledFilters|length > 0 %}
    <div class="accordion mt-4" id="filters">
        <div class="accordion-item">
            <h2 class="accordion-header" id="toggleFilters">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <i class="bi bi-funnel me-2"></i> {{ 'sylius.ui.filters'|trans }}
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="toggleFilters" data-bs-parent="#filters">
                <div class="accordion-body">
                    <form method="get" action="{{ path }}" novalidate>
                        <div class="row">
                            {% for filter in definition.enabledFilters|filter(filter => filter.enabled)|sort_by('position') %}
                                <div class="col-xl-6 mb-3">
                                    {{ sylius_grid_render_filter(grid, filter) }}
                                </div>
                            {% endfor %}
                        </div>
                        {{ buttons.filter() }}
                        {{ buttons.resetFilters(path) }}
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="sylius-grid-wrapper">
    <div class="sylius-grid-nav d-flex flex-wrap justify-content-between flex-md-row {% if data|length > 0 %} my-3{% endif %}">
        {% if data|length > 0 and definition.actionGroups.bulk is defined and definition.getEnabledActions('bulk')|length > 0 %}
            <div class="sylius-grid-nav__bulk me-2 order-2">
                {% for action in definition.getEnabledActions('bulk') %}
                    {{ sylius_grid_render_bulk_action(grid, action, null) }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="sylius-grid-nav__pagination order-1 order-sm-2 w-100 w-sm-auto mb-3 mb-sm-0">
            {{ pagination.simple(data) }}
        </div>
        {% if definition.limits|length > 1 and data|length > min(definition.limits) %}
            <div class="sylius-grid-nav__perpage ms-md-auto order-3">
                <div class="ui fluid one menu sylius-paginate">
                    {{ pagination.perPage(data, definition.limits) }}
                </div>
            </div>
        {% endif %}
    </div>


    {% if data|length > 0 %}
        <div class="card sylius-grid-table-wrapper">
            <table class="table align-middle" {{ sylius_test_html_attribute('grid-table') }}>
                <thead>
                <tr>
                    {{ table.headers(grid, definition, app.request.attributes) }}
                </tr>
                </thead>
                <tbody {{ sylius_test_html_attribute('grid-table-body') }}>
                {% for row in data %}
                    {{ table.row(grid, definition, row) }}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="mt-4">
            {{ messages.info('sylius.ui.no_results_to_display') }}
        </div>
    {% endif %}
    {% if data.haveToPaginate() %}
        <div class="mt-3">
            {{ pagination.simple(data) }}
        </div>
    {% endif %}
</div>
