{% import '@SyliusUxBootstrap/macro/pagination.html.twig' as pagination %}
{% import '@SyliusUxBootstrap/macro/table.html.twig' as table %}

{% set definition = grid.definition %}
{% set data = grid.data %}

{% set path = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set criteria = app.request.query.get('criteria') %}

{{ pagination.simple(data) }}

{% if data|length > 0 %}
    <table class="table">
        <thead class="thead-light">
        <tr>
            {{ table.headers(grid, definition, app.request.attributes) }}
        </tr>
        </thead>
        <tbody {{ sylius_test_html_attribute('grid-table-body') }}>
        {% for row in data %}
            {{ table.row(grid, definition, row, loop.index) }}
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{{ pagination.simple(data) }}
